// .intro{
//     width: 50%;
//     h1, p{
//         font-family: 'League Spartan', sans-serif;
//         font-family: 'Outfit', sans-serif;
//         color: rgb(75, 31, 76);
//     }
// }
.hero_bar{
    width: 50%;
    position: absolute;
    .bar{
        background-color: rgb(229, 198, 230);
        width: 50%;
        height: 30%;
        margin-top: 5%;
        border-radius: 4px;
        list-style-type: none;
        p{
            margin-top: 100px;
        }
    }
}
// .info_bar{
//     position: absolute;
//     background-color: rgb(99, 27, 101);
//     width: 50%;
//     height: 50%;
//     margin-top: 5%;
//     border-radius: 4px;
//     list-style-type: none;
//     img{
//         width: 15%;
//         border-radius: 50px;
//     }
// }
// body{
//     margin: 1.5em;
// }
// .wrapper{
//     display: flex;
//     justify-content: space-between;
//     float: left;
// }
